html,body{
    height:100%;
    margin:0;
    padding-top:0;

}

body>header{
    margin-top:0px;
    background:LightSteelBlue;
    padding-left:1em;
}

main>header h1{
    position:sticky;
    top:0px;
}

body>header h1{
    display:inline;
    font-size:3em;
}

main, footer{
    max-width: 960px;
    margin-left: auto;
    margin-right:auto;
    margin-top:0px;
    padding: 1em;
}

main{
    background:white;
}

footer{
    background-color:rgb(245, 245, 245);
    color:  #333333;
}


body{
    border-top: 0.5em solid #333333;
    font-family: helvetica;
    color:  #333333;
    background-color:rgb(237, 237, 237) !important;
}

main h1 a:link, main h1 a:visited{
    font-weight:bolder;
    text-decoration:none;
    color:#333333 !important;
    border-bottom: 5px solid #333333;
    font-size:1.5em;
}

h1{
    margin:0;
    padding:0;
}




article{
    margin-bottom:2em;
}

article::after{
    content:"\2766";
    margin:auto;
    display:block;
    text-align:center;
    font-size:2em;
}

header time{
    margin-top:3em;
    color:#666666;
    border-top: 5px solid #666666;
}

main
{
    min-height:100%;
    margin-top:0px;
    padding-top:1em;
}


.solution_cell{
    border-left: 8px solid  #59a14f;
    background-color: #59a14f15;

}
.solution_cell::before {
    content: "Solution: ";
    color: #59a14f;
    font-weight:bold;
    padding-left:1em;
}

.aside_cell::before {
    content: "Note: ";
    color: #4e79a7;
    font-weight:bold;
    padding-left:1em;
}


.solution_cell + .solution_cell::before { content:"";}
.aside_cell + .aside_cell::before { content:"";}
.ta_notes + .ta_notes::before { content:"";}

.ta_notes{
    border-left: 8px solid  #9c755f;
    background-color: #9c755f15;

}
.ta_notes::before {
    content: "TA notes: ";
    color: #9c755f;
    font-weight:bold
}


.clue_cell{
    border-left: 8px solid  #edc948;
}
.clue_cell::before {
    content: "Clue: ";
    color: #edc948;
    font-weight:bold
}
.aside_cell {
    border-left: 8px solid #4e79a7;
    background:  rgb(237, 237, 237) !important;
}

.toc h1, .toc h2, .toc h3, .toc h4, .toc h5{
    margin: 0px;
}



.toc h3{font-size: 1.15em}
.toc h4{font-size: 1.1em}
.toc h5{font-size: 1.05em}

h2 a:link{
    text-decoration: underline;
    text-decoration-color: #4e79a7;
    color:  #555555;
}

.toc h3, .toc h4, .toc h5{
    margin: 0px;
}

.toc h3 a:link, .toc h4 a:link, .toc h5 a:link, .toc span a:link{
     text-decoration: none;
}


.toc a:link, h1 a:link, h2 a:link{
    color:  #333333;
    /* text-decoration: none; */
}
h1 a:visited {color: #333333;}
.toc a:visited, h2 a:visited{
    color:  #555555;
}
.toc a:hover, h1 a:hover, h2 a:hover{
    color: white;
    background-color:  #4e79a7;
    /* text-decoration: underline; */
    /* text-decoration-color: #4e79a7; */
    /* text-decoration-style: double; */
}


.prompt{
display:none}
